extend layout
block content
  div.row
    div.col-xs-2
      ul.list-unstyled.mission-heading
        li OUR MISSION
        li ORGANIC SUPIMA
        li OUR DYE PROCESS
        li SUSTAINABILITY
        li PRESS
    div.col-xs-10.pull-right
      img.pull-right.img-responsive(src="http://livegoodinc.com/assets/about-us-new.jpg")
  
  div.row
    div.col-sm-3.col-sm-offset-2.tan-div
      h3.title-bar1 LIVE GOOD WAS CREATED IN RESPONSE TO A DILEMMA:
      h3.title-bar2 How can you take great care of yourself while acting responsibly toward the environment?
      h3.title-bar3.top-padding Learn More About Live Good's pledge of sustainability
    div.col-sm-7
        p.content-paragraph We all want to live a good life — one in which we contribute something positive to the world. But we also yearn for "the good life," a state in which our own mental and physical health is in balance. How can you achieve both goals, caring for your community and environment while respecting your own needs for personal fulfillment? We founded Live Good to forge a path toward that dual achievement. We believe you don't need to compromise. You can live sustainably, supporting the long-term health of your neighbors and the planet, and also live well, in elegance and comfort. We want to help you find that state of harmony with nature, with your community, and with yourself. So we've started a business that reflects this ethos: a Live Good line of home products that upholds each and every aspect of our mission. Everything we make is local. Everything is sustainably sourced and organic. And everything is designed to increase your quality of life. We haven't sacrificed luxury and beauty in our commitment to supporting practices that are ecologically and economically sound. We've begun with Sheeting & Duvets, Decorative Pillows, and our Baby Collection, all made of organic cotton and produced in Orange County, California. We searched for materials of the highest quality, grown and manufactured according to the strictest environmental standards. All our products are free of pesticides, synthetic fertilizers, and irradiation. The result is a pure, natural fabric that is as healthy for you as it is for the soil, air, and water, and the agricultural community that supports its production. 
        img.pull-right(src="http://livegoodinc.com/assets/inner_img.jpg")
        p.content-paragraph We also insisted on local producers who have committed to keeping jobs in the United States. Everything that goes into our products – from the fabric to the thread to the natural wood buttons – is Made in the U.S.A. This not only ensures compliance with environmental and ethical standards, but it also means that we're supporting local families and the employers who have chosen to stay on U.S. soil. We hope you will look through our collection, but we also want to hear from you on the larger issues that drive our mission. Through our blog and our Facebook page, we're exploring topics of sustainability and environmental responsibility. Please join us online and get involved in this ongoing conversation. Our Live Good products are the tangible expression of our values. We hope to offer something you can be proud to bring home, adding a layer of comfort and elegance to your space while supporting organic agriculture and local production. There's much more to come – this is just the beginning – so please stay connected with us as we continue to develop ways to help you Live Good.
  div.row
    div.row
      div.col-sm-9.col-sm-offset-2
        p.green-text2 LUXURIOUS, 100% CERTIFIED ORGANIC, SUSTAINABLE
        p.green-text Shop the Live Good Designer Home Collection
    div.col-sm-12.col-sm-offset-2
      div.col-sm-4
        h4.text-center Sheeting & Duvets
        a(href="#")
          img.img-responsive.center-block(src="http://livegoodinc.com/assets/info_img1.jpg")
      div.col-sm-4
        h4.text-center Decorative Pillows
        a(href="#")
          img.img-responsive.center-block(src="http://livegoodinc.com/assets/info_img2.jpg")
      div.col-sm-4
        h4.text-center Baby Collection
        a(href="#")
          img.img-responsive.center-block(src="http://livegoodinc.com/assets/info_img3.jpg")

